@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

* {
    background-color: black;
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Angkor", serif;
    background-color: black;
    color: red;
    font-weight: 400;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

.img {
margin-left: 110px;

}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: black;
    color: red;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

.textInput, .numInput  {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* buttons */

#insertButton{
background-color: green;
color: black;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
width: 49%;
}

#deleteButton {
    background-color: red;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 49%;
}

#updateButton {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 49%;
}


.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 20px;
}

#response {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}
